body,
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	/*color: #3F4AB6;*/
	background-image: url(header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header h1 {/*
	padding-left: 1em;
	padding-top: 0.5rem;*/
	padding: 1rem;
	padding-left: 2rem;
	font-family: 'Lobster', cursive;
	color: #D9D9E0;

}


.navigation {
	display: flex;
	list-style: none;
	padding: 16px;
}

.navigation a {
	color: white;
	display: block;
	padding: 1em;
	text-decoration: none;
	border-bottom: 4px solid transparent;
}

.navigation a:hover {
	background: #3D3D41;
	border-bottom: 4px solid #64646B;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 28%;
	text-align: center;
}

#headline {
	color: #64646B;
	text-transform: uppercase;
}

#btn1 {
	position: absolute;
	top: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn:hover {
	cursor: pointer;
	background-color: #27272B;	
}

.btn-lg {
	border-radius: 2rem;
	text-transform: uppercase;
}

/*
#headline {
	position: absolute;
	text-align: center;
	width: 100%;*/
	/*top: 50%;*/
}